<!DOCTYPE html>
<html>
  <head>
    <title>Kim Sungkuk</title>

    <meta charset="utf-8" />
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.productDescription %>"
    />
    <meta name="format-detection" content="telephone=no" />

    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <meta name="msapplication-tap-highlight" content="no" />
    <link
      href="https://fonts.googleapis.com/css?family=Kosugi|Kosugi+Maru|M+PLUS+1p|M+PLUS+Rounded+1c|Noto+Sans+JP|Noto+Serif+JP|Sawarabi+Gothic|Sawarabi+Mincho&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" type="image/png" href="statics/app-logo-128x128.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="statics/icons/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="statics/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="statics/icons/favicon-96x96.png"
    />
    <link rel="icon" type="image/ico" href="statics/icons/favicon.ico" />

    <link rel="stylesheet" href="statics/css/core/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="statics/css/core/font-awesome-4.6.3/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="statics/css/core/animate.css" />
    <link rel="stylesheet" href="statics/css/style.css" />
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
    <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-database.js"></script>
    <script type="text/javascript" src="statics/js/translate.js"></script>
    <script
      type="text/javascript"
      src="statics/js/core/jquery-1.12.4.js"
    ></script>
    <script
      type="text/javascript"
      src="statics/js/core/bootstrap.min.js"
    ></script>
    <script
      type="text/javascript"
      src="statics/js/core/jquery.isotope.min.js"
    ></script>
    <script
      type="text/javascript"
      src="statics/js/core/jquery.placeholder.min.js"
    ></script>
    <script
      type="text/javascript"
      src="statics/js/core/smooth-scroll.js"
    ></script>
    <script type="text/javascript" src="statics/js/core/iscroll.js"></script>
    <script type="text/javascript" src="statics/js/userScript.js"></script>
  </body>
</html>
